<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/brands.min.css">
    <link rel="stylesheet" href="../public/css/style.css">


    <title>YoutubeToMp3</title>

 </head>
 <body>

<style>
   body{
      background-color: aqua;
   }
  </style>

    <div class="top-container">
       <form action="convert-mp3" method="post" id="form">
          <h1>Youtube 2 MP3 Converter</h1>
       </form>
    </div>

 </body>

 </html>